In [ ]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,StandardScaler

**Importing the dataset**

In [ ]:
df=pd.read_csv('/content/Social_Network_Ads.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
del df['User ID']

In [ ]:
le=LabelEncoder()
df['Gender']=le.fit_transform(df['Gender'])
df

     Gender  Age  EstimatedSalary  Purchased
0         1   19            19000          0
1         1   35            20000          0
2         0   26            43000          0
3         0   27            57000          0
4         1   19            76000          0
..      ...  ...              ...        ...
395       0   46            41000          1
396       1   51            23000          1
397       0   50            20000          1
398       1   36            33000          0
399       0   49            36000          1

[400 rows x 4 columns]

**Splitting the dataset into the Training set and Test set**

In [ ]:
x=df.iloc[:,:3].values
y=df.iloc[:,3].values
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train

array([[     1,     60,  42000],
       [     1,     47,  25000],
       [     1,     29,  43000],
       [     1,     26,  32000],
       [     0,     50,  88000],
       [     0,     26,  52000],
       [     1,     35, 108000],
       [     1,     37,  75000],
       [     0,     28,  37000],
       [     1,     46,  79000],
       [     0,     35,  50000],
       [     0,     36,  54000],
       [     0,     37,  57000],
       [     1,     42,  80000],
       [     0,     42,  90000],
       [     0,     40, 142000],
       [     0,     57,  33000],
       [     1,     35,  58000],
       [     1,     28,  59000],
       [     1,     29,  75000],
       [     1,     26,  15000],
       [     0,     29,  28000],
       [     0,     45,  45000],
       [     1,     19,  70000],
       [     0,     30,  79000],
       [     0,     55, 125000],
       [     1,     30, 135000],
       [     1,     19,  76000],
       [     1,     40,  57000],
       [     0,     39,  59000],
       [     1,     30, 107000],
       [     1,     34, 112000],
       [     1,     26,  80000],
       [     0,     59,  29000],
       [     1,     46,  88000],
       [     0,     54, 108000],
       [     1,     31,  58000],
       [     0,     21,  16000],
       [     1,     36,  99000],
       [     0,     39,  73000],
       [     1,     18,  82000],
       [     1,     47, 105000],
       [     0,     31,  89000],
       [     0,     32, 117000],
       [     1,     42,  54000],
       [     1,     37,  70000],
       [     1,     36, 144000],
       [     1,     52, 150000],
       [     1,     45,  79000],
       [     0,     48,  35000],
       [     1,     36, 125000],
       [     0,     27,  84000],
       [     0,     31,  68000],
       [     0,     28,  59000],
       [     1,     20,  74000],
       [     0,     49,  39000],
       [     1,     19,  85000],
       [     1,     35,  59000],
       [     0,     54,  26000],
       [     0,     35,  65000],
       [     1,     41,  59000],
       [     1,     60, 102000],
       [     1,     46, 117000],
       [     1,     42, 149000],
       [     0,     28,  87000],
       [     0,     52,  90000],
       [     1,     28, 123000],
       [     0,     46,  41000],
       [     1,     40,  71000],
       [     1,     39, 122000],
       [     0,     35,  97000],
       [     0,     58,  95000],
       [     0,     38,  50000],
       [     0,     33,  28000],
       [     1,     35,  73000],
       [     0,     48,  29000],
       [     0,     27,  57000],
       [     0,     22,  63000],
       [     0,     40,  75000],
       [     0,     38,  50000],
       [     0,     27,  54000],
       [     1,     38,  51000],
       [     0,     39,  71000],
       [     1,     58, 144000],
       [     1,     21,  72000],
       [     0,     46,  82000],
       [     0,     58,  38000],
       [     1,     40,  78000],
       [     0,     50,  44000],
       [     0,     35,  57000],
       [     1,     46,  28000],
       [     0,     37,  33000],
       [     0,     58,  23000],
       [     0,     41,  72000],
       [     0,     41,  60000],
       [     1,     26,  16000],
       [     1,     37,  52000],
       [     0,     52,  21000],
       [     0,     52, 114000],
       [     0,     20,  82000],
       [     1,     31,  76000],
       [     0,     26,  43000],
       [     1,     23,  63000],
       [     0,     22,  27000],
       [     0,     41,  72000],
       [     0,     26,  35000],
       [     1,     35,  53000],
       [     0,     36,  75000],
       [     0,     39,  75000],
       [     1,     48,  33000],
       [     1,     25,  33000],
       [     1,     29,  43000],
       [     0,     37,  62000],
       [     0,     36,  50000],
       [     1,     24,  19000],
       [     0,     29,  47000],
       [     1,     19,  25000],
       [     1,     28,  79000],
       [     0,     28,  44000],
       [     1,     25,  87000],
       [     1,     42,  64000],
       [     0,     54, 104000],
       [     0,     33, 149000],
       [     1,     48,  33000],
       [     1,     31,  74000],
       [     0,     38,  80000],
       [     0,     35,  44000],
       [     0,     43, 112000],
       [     1,     25,  80000],
       [     1,     37,  72000],
       [     1,     42, 104000],
       [     0,     33, 113000],
       [     1,     39,  42000],
       [     0,     42,  70000],
       [     1,     39,  77000],
       [     0,     37,  78000],
       [     1,     49,  65000],
       [     0,     26,  15000],
       [     1,     57,  74000],
       [     0,     32, 135000],
       [     0,     47, 107000],
       [     1,     46,  23000],
       [     1,     32,  18000],
       [     1,     35,  72000],
       [     0,     29,  83000],
       [     1,     28,  32000],
       [     0,     35,  23000],
       [     0,     44, 139000],
       [     0,     48,  30000],
       [     0,     31,  71000],
       [     1,     37, 144000],
       [     1,     45,  22000],
       [     0,     48, 134000],
       [     0,     47,  47000],
       [     1,     36,  60000],
       [     1,     41,  52000],
       [     1,     48,  74000],
       [     0,     48, 138000],
       [     1,     39, 106000],
       [     0,     21,  68000],
       [     1,     59, 143000],
       [     0,     33,  41000],
       [     1,     22,  81000],
       [     1,     60,  42000],
       [     0,     38, 112000],
       [     0,     50,  20000],
       [     1,     37,  79000],
       [     0,     23,  82000],
       [     0,     46,  96000],
       [     0,     35,  60000],
       [     0,     46,  74000],
       [     0,     52, 138000],
       [     0,     53,  34000],
       [     0,     26,  17000],
       [     1,     56, 133000],
       [     0,     56, 104000],
       [     0,     31,  15000],
       [     1,     27,  58000],
       [     1,     51,  23000],
       [     0,     19,  21000],
       [     0,     33,  69000],
       [     0,     35,  72000],
       [     1,     38,  61000],
       [     1,     35,  91000],
       [     0,     59,  42000],
       [     1,     38,  61000],
       [     1,     26,  30000],
       [     1,     31,  18000],
       [     0,     32, 150000],
       [     0,     58, 101000],
       [     0,     45,  22000],
       [     1,     24,  55000],
       [     0,     48,  96000],
       [     1,     40,  47000],
       [     1,     41,  52000],
       [     1,     30,  17000],
       [     0,     33,  60000],
       [     1,     47,  23000],
       [     0,     47, 144000],
       [     0,     19,  26000],
       [     0,     41,  80000],
       [     0,     46,  22000],
       [     0,     34,  43000],
       [     0,     37, 146000],
       [     1,     42,  65000],
       [     1,     47,  20000],
       [     1,     38,  59000],
       [     0,     39, 134000],
       [     1,     27,  20000],
       [     0,     28,  55000],
       [     0,     26,  72000],
       [     0,     47, 113000],
       [     0,     23,  48000],
       [     1,     42,  73000],
       [     0,     51, 134000],
       [     0,     40,  60000],
       [     1,     37,  55000],
       [     1,     42,  54000],
       [     1,     45,  32000],
       [     1,     35,  50000],
       [     1,     39,  42000],
       [     1,     35,  27000],
       [     0,     57,  26000],
       [     0,     34,  72000],
       [     0,     60, 108000],
       [     0,     37, 137000],
       [     1,     35,  39000],
       [     0,     47,  51000],
       [     1,     40,  57000],
       [     1,     24,  84000],
       [     0,     37,  80000],
       [     1,     35,  22000],
       [     1,     49,  88000],
       [     0,     20,  23000],
       [     0,     42,  79000],
       [     0,     20,  82000],
       [     0,     34,  25000],
       [     1,     46,  59000],
       [     1,     19,  19000],
       [     0,     41,  51000],
       [     1,     31,  66000],
       [     0,     38, 113000],
       [     0,     24,  55000],
       [     1,     42,  65000],
       [     0,     60,  46000],
       [     1,     34, 115000],
       [     0,     35,  71000],
       [     1,     59, 130000],
       [     1,     30,  87000],
       [     0,     31, 118000],
       [     1,     49,  86000],
       [     0,     48, 131000],
       [     0,     48, 119000],
       [     0,     26,  80000],
       [     0,     49,  36000],
       [     1,     40,  59000],
       [     0,     23,  66000],
       [     0,     39,  79000],
       [     0,     59,  88000],
       [     0,     50,  36000],
       [     1,     32,  18000],
       [     1,     49,  28000],
       [     1,     20,  49000],
       [     1,     49,  89000],
       [     1,     35,  75000],
       [     0,     28,  85000],
       [     0,     31,  34000],
       [     0,     57, 122000],
       [     1,     33,  31000],
       [     1,     37,  53000],
       [     0,     40,  72000],
       [     0,     36, 126000],
       [     0,     59,  76000],
       [     1,     21,  88000],
       [     1,     39,  96000],
       [     1,     25,  22000],
       [     1,     27,  90000],
       [     0,     38,  65000],
       [     0,     45, 131000],
       [     1,     30,  15000],
       [     0,     51, 146000],
       [     1,     28,  89000],
       [     1,     36,  33000],
       [     1,     40,  65000],
       [     0,     44,  39000],
       [     1,     55,  39000],
       [     0,     41,  72000],
       [     0,     35,  25000],
       [     1,     37,  77000],
       [     0,     33,  51000],
       [     1,     27,  89000],
       [     0,     35, 147000],
       [     0,     28,  84000],
       [     1,     33,  43000],
       [     0,     53, 104000],
       [     1,     40,  75000],
       [     0,     27,  58000],
       [     1,     35,  55000],
       [     1,     56,  60000],
       [     1,     49,  74000],
       [     0,     32,  86000],
       [     1,     30,  89000],
       [     1,     48,  41000],
       [     1,     41,  72000],
       [     1,     30,  80000],
       [     0,     27,  17000],
       [     0,     24,  89000],
       [     1,     24,  58000],
       [     1,     60,  34000],
       [     0,     18,  86000],
       [     0,     20,  36000],
       [     0,     41,  30000],
       [     0,     26, 118000],
       [     0,     42, 108000],
       [     0,     22,  55000],
       [     1,     37,  74000],
       [     1,     35,  20000],
       [     0,     27,  31000],
       [     0,     47,  49000],
       [     1,     25,  90000]])

**Feature Scaling**

In [ ]:
sc=StandardScaler()
sc.fit(x_train)
x_train=sc.transform(x_train)
x_test=sc.transform(x_test)

**Fitting K-NN to the Training set**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from mlxtend.plotting import plot_decision_regions
import matplotlib.pyplot as plt

knn=KNeighborsClassifier(n_neighbors=1)
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=1)

**Predicting the Test set results**

In [ ]:
y_pred=knn.predict(x_test)
y_pred

array([0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0])

In [ ]:
df2=pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df2

    Actual  Predicted
0        0          0
1        0          0
2        0          0
3        0          0
4        1          1
..     ...        ...
75       1          1
76       1          1
77       0          1
78       0          0
79       0          0

[80 rows x 2 columns]

**Making the Confusion Matrix**

In [ ]:
from sklearn.metrics import accuracy_score,f1_score,roc_auc_score,confusion_matrix
acc=accuracy_score(y_test,y_pred)
f1=f1_score(y_test,y_pred)
auroc=roc_auc_score(y_test,y_pred)
conf=confusion_matrix(y_test,y_pred)
print(acc,f1,auroc)
print(conf)

0.8125 0.761904761904762 0.81
[[41  9]
 [ 6 24]]

In [ ]:
from sklearn.model_selection import cross_val_score
import numpy as np

for k in [1,2,3,4,5,6,7,8,9]:
    clf = KNeighborsClassifier(n_neighbors=k) 
    clf.fit(x, y)
    print("K : ", k, " Train Accuracy : ", clf.score(x,y), " Val Accuracy : ", np.mean(cross_val_score(clf, x, y, cv=5)))

K :  1  Train Accuracy :  0.9975  Val Accuracy :  0.7849999999999999
K :  2  Train Accuracy :  0.9  Val Accuracy :  0.7575000000000001
K :  3  Train Accuracy :  0.8975  Val Accuracy :  0.76
K :  4  Train Accuracy :  0.8625  Val Accuracy :  0.7699999999999999
K :  5  Train Accuracy :  0.8725  Val Accuracy :  0.7674999999999998
K :  6  Train Accuracy :  0.8625  Val Accuracy :  0.7625
K :  7  Train Accuracy :  0.87  Val Accuracy :  0.7675000000000001
K :  8  Train Accuracy :  0.85  Val Accuracy :  0.775
K :  9  Train Accuracy :  0.8675  Val Accuracy :  0.7649999999999999